modules = ["python-3.12", "cpp-clang14", "nodejs-20", "web"]

run = "cd frontend && npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run Frontend"

[[workflows.workflow]]
name = "Run frontend"
mode = "sequential"
author = 45479370

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend"

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "nodejs"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Run Frontend"
author = 45479370
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run dev"
